<!-- Toolbar -->
<div class="toolbar" role="banner">
    <h2>Test App</h2>
    <div class="spacer"></div>
    <div class="render-drop">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                <span class="render-big">Menu</span>
                <span class="render-small"><i class="fa fa-bars"></i></span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Menu - 1</button>
              <button ngbDropdownItem>Menu - 2</button>
              <button ngbDropdownItem>Menu - 3</button>
            </div>
        </div>
    </div>
</div>