
@media (max-width: 500px) {
    .card-container {
        justify-content: center;
    }
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
}
