.ngb-toasts {
    position: absolute;
    z-index: 99;
    top: 70px !important;
    right: 10px !important;
}

.bg-success, .bg-error, .ngb-toasts .fa {
    color: white !important;
}

::ng-deep .toast-body {
    display: flex !important;
    align-items: center !important;
}